body {
	width: 100%;
}
.animations {
	width: 90%;
	height: 100%;
}
svg {
 display: block;
 height: 100%;
 margin: 0 auto;
 border: 1px solid blue;
}
.one {
 stroke-dasharray: 1900;
 stroke-dashoffset: 1900;
 animation: draw 3s linear;
 animation-fill-mode: forwards;
}
.two {
 stroke-dasharray: 1900;
 stroke-dashoffset: 1900;
 animation: draw 4s linear;
 animation-delay: 2s;
 animation-fill-mode: forwards;
}
.three {
 stroke-dasharray: 1900;
 stroke-dashoffset: 1900;
 animation: draw 5s linear;
 animation-delay: 2.8s;
 animation-fill-mode: forwards;
}
.left {
 stroke-dasharray: 1900;
 stroke-dashoffset: 1900;
 animation: draw 40s linear;
 animation-delay: 10s;
 animation-fill-mode: forwards;
}
.right {
 stroke-dasharray: 1900;
 stroke-dashoffset: 1900;
 animation: draw 10s linear;
 animation-delay: 10s;
 animation-fill-mode: forwards;
}
@keyframes draw {
 from {
   stroke-dashoffset: 1900;
 }
 to {
   stroke-dashoffset: 0;
 }
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
	opacity:0;  
	-webkit-animation:fadeIn ease-in 1;  /* repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards; 
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	animation-duration:2s;

 -webkit-animation-delay: 3s;
 -moz-animation-delay: 3s;
 animation-delay: 3s;
} 
.fadeIn2 {
	opacity:0;  
	-webkit-animation:fadeIn ease-in 1;  /* repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards; 
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	animation-duration:2s;

 -webkit-animation-delay: 12s;
 -moz-animation-delay: 12s;
 animation-delay: 12s;
}
